  <h1>To Do list</h1> 
    <div>
        <h2><%= @todo.description%></h2>
        <spon><%= @todo.pomodoro_estimate %> pomodoro</spon>
        <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
        <a href="/todo/destroy/<%= @todo.id %>" id="delete-todo-button">Delete</a>
        <a href="/" class="simple-link">Go back</a>  
        <%= @todo.description %>
        <h3>Todo #<%= params[:id] %></h3>
    </div>